@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper .swiper-pagination-bullet {
  background-color: #f7afbb;
  margin: 0 10px;
}

.swiper-button-prev::after, 
.swiper-button-next::after{
  color: #f7afbb;
  transition: all 0.25s ease-in-out;
}

.swiper-button-prev:hover::after, 
.swiper-button-next:hover::after{
  color: #ff69b4;
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0;
    font-size: inherit;
  }
}

